!!!
#main
  .note
    %h2 Quick Notes
    %ul
      %li
        Haml Coffee is usually indented with two spaces,
        although more than two is allowed.
        You have to be consistent, though.
      %li
        The first character of any line is called
        the "control character" - it says "make a tag"
        or "run CoffeeScript code" or all sorts of things.
      %li
        Haml takes care of nicely indenting your HTML.
      %li
        Haml Coffee allows CoffeeScript code and blocks.

  .note
    You can get more information by reading the
    %a{:href => "https://github.com/netzpirat/haml-coffee"}
      Official Haml Coffee Documentation

  .note
    %p
      CoffeeScript code is included by using = at the
      beginning of a line.
    %p
      Read the tutorial for more information.
