%span<> This will have space in and around it.
%span>< This will, too.
%span><= "also works with code".toUpperCase()
.conditional
  - var a = "strings are truthy"
  - if(a){
  .hello
  -  } else{
  .goodbye
  - }
- var area = 0.5 * length * height
.area= area
